<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div class="container">
  <h1>404</h1>
  <p>Page not found</p>
  <a href="/books">Go back</a>
</div>

<%- include('../partials/footer') %>